.well-done {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(120deg, rgba(102,16,242,1) 0%, rgba(175,72,191,1) 100%);
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  text-justify: inter-word;
}

.well-done h1 {
  font-size: 60px;
}

.well-done h3 {
  font-size: 30px;
}
