body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #11011a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: #FFFCF2;
}

p {
  color: #FFFCF2;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
